*{
  margin :0;
  padding:0;
  box-sizing: border-box;
}

body{
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} 

.calculator{
  width: 287px;
  border: 1px solid #333;
  background-color: #ccc;
  padding: 5px;
}

 .calculator form{ /*바로 1단계 위에 감싸져있는 부모태그를 가리켜야함 */
  display : grid;
  grid-template-columns: repeat(4,65px);
  grid-auto-rows: 65px;
  gap: 5px;
}

.calculator form input{
  font-size: 19px;
  border: 2px solid gray;
  cursor: pointer; /*손구락 모양 */
}

 .calculator form input:hover { /*//콜론 양옆 붙여야함 */
   box-shadow: 1px 2px 2px #333; /*음영 처리 */
}

.calculator form .clear{
  background-color: #ed4848;
  grid-column: 1/4;
}

.calculator form .operator{
  background-color: orange;
}

.calculator form .dot{
  background-color: green;
} 

.calculator form input[type='text']{
  grid-column: 1/5;
  text-align : right;
  padding: 0 10px;
}


