.calculator{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: peru;
}

 form{/* 클래스 calculator로 감싸는게 아니다 */
  display : grid;
  grid-template-columns: repeat(4, 111px);
  grid-auto-rows: 111px;
  gap: 5px;
  border: 2px solid black;
  border-radius: 10px; 
 }

.operator{
  background-color: orange;
}
input{
  border: 2px solid black;
  border-radius: 10px; 
  cursor: pointer;
  font-size: 55px;
}
input:hover{
   box-shadow: 1px 2px 22px; /*오른쪽1, 아래2, 22흐리게 */
}
.clear{
  background-color: gray;
}

#input{
  grid-column: 1/4;
  text-align : right;
  padding: 0 10px;
}

#zero{
  grid-column: 1/3;
}