body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height : 100vh;
  
}
.result{
  border : 3px solid black;
}
.cal{
  padding: 10px;
  /* text-align : center; */
  /* vertical-align: middle; */
  display: grid;
  grid-template-columns: repeat(4, 80px);
  /* grid-template-rows: 80px; */
  grid-auto-rows: 80px;
  grid-gap: 10px;
  
  background-color:gray;
  border: 3px solid blue;
  border-radius: 20px;
  font-size: 28px;
  color: white;
  cursor: pointer;
}
.reset{
  border-radius: 10px;
  border: 1px solid red;
}

.js-number, .operation, .reset, .js-equals{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border : 3px solid black;
  border-color:black;
}

body span:active {
  opacity: 0.8;
}

body span:not(.result) {
  user-select: none;
}
.js-number{
  
}
.result {
  text-align: right;
  background-color: green;
  padding-right: 20px;
  justify-content: flex-end;
  font-size: 48px;
  border-radius: 10px;
  grid-column: 1 / 4;
}

.zero {
  grid-column: 1 / 3;
}

.operation {
  background-color: #ff9a00;
}

.reset {
  background-color: #b3b3bb;
}
